@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Mitr:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  margin: 0;
  padding: 0;
  color: #303245;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

body {
  align-items: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.background {
  width: 100%;
}

form {
  background-color: transparent;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.title {
  color: rgb(45, 102, 144);
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  display: block;
}

h4 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 20px;
}

input,
select {
  background-color: transparent;
  border: 2px rgba(63, 130, 179, 0.725) solid;
  border-radius: 5px;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 40px;
  outline: 0;
  padding: 4px 20px 0;
  width: calc(100% - 50px);
  margin: 10px;
  transition: background-color 0.3s ease;
}

input:focus {
  background-color: lightsteelblue;
  color: #303245;
  
}

label {
  color: #eee;
}

.submit {
  background-color: green;
  border-radius: 12px;
  border: 2px solid green;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin: 10px;
  outline: 0;
  text-align: center;
  width: calc(100% - 80px);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.submit:hover {
  background-color: transparent;
  color: rgb(146, 255, 146);
  border: 2px solid green;
  border-radius: 12px;
}

p {
  color: #303245;
  margin: 10px;
}

.container {
  background-color: #ffffff4e;
  border: #fff 3px solid;
  padding: 20px;
  border-radius: 7px;
  width: 100%;
  max-width: 520px;
  margin: 50px auto;
  margin-top: 70px;
  
  -webkit-box-shadow: 0px 0px 43px 11px rgba(176, 196, 222, 0.4);
  -moz-box-shadow: 0px 0px 43px 11px rgba(176, 196, 222, 0.4);
  box-shadow: 0px 0px 43px 11px rgba(176, 196, 222, 0.4);
}
form input:disabled,
select:disabled,
textarea:disabled,
form input[readonly]{
  background-color: lightgray;
  color: gray;

}
input[type='file']{
  border: none;
  color: rgb(45, 102, 144) ;
}
input#id_Date_dem:disabled,
input[name="Date_dem"]:disabled{
  background-color: lightgray;
  color: gray;
}