{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/statistiquecss.css' %}"
      type="text/css"/>
</head>
<body>
    <a href="{% url 'gerer_client' %}" style="all: unset"><div class="logo"  onmouseover="document.querySelector('.fa-arrow-rotate-left').style.color='rgba(255, 255, 255, 0.39)';
        this.style.color='rgba(255, 255, 255, 0.39)';"onmouseout="document.querySelector('.fa-arrow-rotate-left').style.color='rgb(255, 255, 255)';
        this.style.color='rgb(255, 255, 255)'; " style=" position: absolute;
            top: 0;
            left: 0;
            
            cursor: pointer;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            font-family: 'Bubblegum Sans', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            background-color: transparent;
            border-radius: 30px;
            transition: 0.2s;
            font-weight: 100;
            margin-left: 28px;
            width: 10%;
            margin-top: 10px;"><i class="fa-solid fa-arrow-rotate-left" style="font-size: 1.3rem;color: white; margin-right: 10px;"></i>page precedente</div></a>
    <a href="{% url 'magazinier' %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        background-color: transparent;
        font-weight: 100;
        border-radius: 30px;
        transition: 0.8s;
        width: 20%;
        margin-top: 10px;"><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; 
        margin-right: 10px;"></i>votre store virtuel</div></a>
 <div class="inner" style="min-height: 100vh;">
    <div class="countain"style="background-color:#eeeeee34; width:70%; margin-top: 90px; display: flex;flex-direction: column;justify-content: center;align-items: center; border: 2px white solid;">
    <form method="GET" action="{% url 'choose_client' %}" style="margin-top: 20px; margin-bottom: 50px;">
    
        <label for="chercher">Entrer le nom de client :</label>
        <input type="text" name="search" id=""placeholder="Ecrire...">
        <button type="submit">Filtrer<i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
        {% if client %}
        <ul>
            <h1>Cette client <span style="color:rgb(68, 242, 175) ;">exist</span> !</h1>
            <a href="{% url 'vendre_produit' nom_client=nom_client %}" class="btn btn-success" style="margin-left: 60px; margin-top: 20px; margin-bottom: 20px;">commencer la vente</a>
        </ul>
        {% endif %}          
        <p> {{message}} </p>
        <h2>Ou bien</h2>
        <a href="{% url 'ajouter_client' %}" class="btn btn-success" style="margin: 20px;">Ajouter un nouveu client</a>
        </div>
</body>
</html>