{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="{% static 'css/creerCompte.css' %}"
      type="text/css"
    />
    <title>Document</title>
    
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <h4>Créer un compte :</h4>  
    {{ form.as_p }}
    <div class="cnt">
        <input type="submit" value="Submit" class="log-in">
        <a href="{% url 'Acceuil' %}" style="padding-top: 12px; margin-left: 10px;">Go back</a>
    </div>
    <p style="margin-left: 40px; color: rgb(40, 89, 124);">{{ message }}</p>

    </form>
    
</body>
</html>
