{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Employés</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleModal.css' %}">
    <script src="{% static 'js/Employe.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/list.css' %}"
      type="text/css"
    />
</head>
<body>
    <a href="{% url 'choisir_option_employe' %}" style="all: unset"><div class="logo"  onmouseover="document.querySelector('.fa-arrow-rotate-left').style.color='rgba(255, 255, 255, 0.39)';
        this.style.color='rgba(255, 255, 255, 0.39)';"onmouseout="document.querySelector('.fa-arrow-rotate-left').style.color='rgb(255, 255, 255)';
        this.style.color='rgb(255, 255, 255)'; " style=" position: absolute;
            top: 0;
            left: 0;
            
            cursor: pointer;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            font-family: 'Bubblegum Sans', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            background-color: transparent;
            border-radius: 30px;
            transition: 0.2s;
            font-weight: 100;
            margin-left: 28px;
            width: 10%;
            margin-top: 10px;"><i class="fa-solid fa-arrow-rotate-left" style="font-size: 1.3rem;color: white; margin-right: 10px;"></i>page precedente</div></a>
    <a href="{% url 'magazinier' %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        background-color: transparent;
        border-radius: 30px;
        transition: 0.8s;
        width: 20%;
        font-weight: 100; 
        margin-top: 10px;"><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; 
        margin-right: 10px;"></i>votre store virtuel</div></a>
    <h4>La liste des Employés :</h4>
    <form method="GET" action="{% url 'liste_employé' %}">
        <label for="filter_type">Choisir le type de filtre :</label>
            
            <div class="custom-select">
                <select id="filter_type" name="filter_type">
                    <option value="employe">Filtrer par employe</option>
                    <option value="centre">Filtrer par centre</option>
                </select>
                <span class="arrow"></span>
              </div>
            
              <label for="chercher">Entre l'information :</label>
              <input type="text" id="chercher" name="chercher" placeholder="Ecrire...">
            
              <button type="submit">Filtrer<i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
    <table >
        <tr class="table-info">
            <th>ID_Employé</th>
            <th>Nom d'employé</th>
            <th>Prenom d'employé</th>
            <th>l'adresse d'employé</th>
            <th>le télephone d'employé</th>
            <th>le salarie par jour d'employé</th>
            <th>le centre d'employé</th>
            <th>Modifier Employé</th>
            <th>Supprimer Employé</th>
        </tr>
         {% for e in employees %}
         <tr>
         <td>{{e.id}}</td>
         <td> {{e.nomE}} </td>
         <td> {{e.prenomE}} </td>
         <td> {{e.adrE}} </td>
         <td> {{e.telephone}} </td>
         <td> {{e.Salarie_jour}} </td>
         <td> {{e.centre.numC}} </td>
         <td><a a href="{% url 'modifier_employe' e.id %}" class="btn btn-outline-success"> Modifier </a></td>
         <td><a href="#" class="btn btn-outline-danger"  onclick="confirmDelete('{{ e.id }}')">Supprimer</a></td>
         </tr>
         {% endfor%} 
    </table>
    <a href="{% url 'ajouter_employe'%}" class="btn btn-outline-info" style="margin: 10px;">Ajouter un employé</a>
    <div class="confirmation-modal" id="confirmationModal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Etes-vous sur de supprimer cette élément?</p>
            <button class="confirm-button">Supprimer</button>
            <button class="cancel-button">Annuler</button>
        </div>
    </div>
    <a href="#" type="button" onclick="printProducts()" class="btn btn-outline-info" style="margin: 20px;">Imprimer la liste</a>

</body>
</html>