
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
    />
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>

<div class="header">

    <nav><a href="{% url 'magazinier' %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      text-wrap: nowrap;
      padding: 10px;
      font-family: 'Bubblegum Sans', sans-serif;
      color: rgb(255, 255, 255);
      font-size: 1.5rem;
      background-color: transparent;
      border-radius: 30px;
      transition: 0.8s;
      width: 20%;
      margin-top: 10px;"><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; margin-right: 10px;"></i>votre store virtuel</div></a>
    </nav>
    <div class="inner-header flex">
    <h1>Bonjour Magasinier!</h1>
    <p>Quel est notre travail pour aujourd'hui ?</p>
    </div>
    
   
    <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="6" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="8" fill="#fff" />
    </g>
    </svg>
    </div>
   
    
    </div>
    <div class="content flex" >
      <a href="{% url 'choisir_option_achat' %}"><i class="fa-solid fa-cart-shopping"></i>acheter produits</a>
      <a onclick="goToStockMagasin()"><i class="fa-solid fa-house"></i></i>gerer stock</a>
      <a href="{% url 'choisir_option_employe' %}"><i class="fa-solid fa-user-tie"></i></i>gerer employees</a>
      <a href="{% url 'gerer_centres'  %}"><i class="fa-solid fa-shop"></i>gerer centre</a>
      <a href="{% url 'gerer_client'  %}"><i class="fa-solid fa-users-line"></i>gerer clients</a>
    </div>
    <a class='two_lines'href="{% url 'choisir_statistiques' %}" style="height: 10px;margin-bottom: 11px;display: flex;flex-direction:row;position: fixed;bottom: 0;left: 50%;
    transform: translateX(-50%);padding: 15px ;padding-left: 23px;padding-right: 23px;
    text-wrap: nowrap; box-shadow: none;"><i class="fa-solid fa-square-poll-vertical"></i>voir les Statistiques</a>
  </body>
 
</html>
