{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des produits de fournisseur</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/list2.css' %}"
      type="text/css"
    />
</head>
<body>
  <a href="{% url 'les_journale_centre' selected_center=selected_center %}" style="all: unset"><div class="logo"  onmouseover="document.querySelector('.fa-arrow-rotate-left').style.color='rgba(255, 255, 255, 0.39)';
    this.style.color='rgba(255, 255, 255, 0.39)';"onmouseout="document.querySelector('.fa-arrow-rotate-left').style.color='rgb(255, 255, 255)';
    this.style.color='rgb(255, 255, 255)'; " style=" position: absolute;
        top: 0;
        left: 0;
        
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        background-color: transparent;
        border-radius: 30px;
        transition: 0.2s;
        font-weight: 100;
        margin-left: 28px;
        width: 10%;
        margin-top: 10px;"><i class="fa-solid fa-arrow-rotate-left" style="font-size: 1.3rem;color: white; margin-right: 10px;"></i>page precedente</div></a>
    <a href="{% url 'gestion_responsable' selected_center=selected_center %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        background-color: transparent;
        border-radius: 30px;
        transition: 0.8s;
        font-weight: 100;
        width: 20%;
        margin-top: 10px;"><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; margin-right: 10px;"></i>votre store virtuel</div></a>
        <h4>voici list du journal des ventes</h4>
    <form method="GET" action="{% url 'journal_transfer_centre' selected_center=selected_center %}">
        <label for="filter_type">Choisir le type de filtre :</label>
        <div class="custom-select">
            <select id="filter_type" name="filter_type" onchange="updateInputType()">
            <option value="date">Filtrer par date</option>
            <option value="produit">Filtrer par produit</option>
        </select>
        <span class="arrow"></span>
    </div>
    <div id="dateFilters" style="justify-content: center;align-items: center;margin-left:10px ;display:none;">
        <label for="date_debut">Date début :</label>
        <input type="date" id="date_debut" name="date_debut">

        <label for="date_fin">Date fin :</label>
        <input type="date" id="date_fin" name="date_fin">
    </div>
    
    <label id="chercher-label" for="chercher">Entre l'information :</label>
    <input type="text" id="chercher" name="chercher" placeholder="Ecrire...">
    
        <button type="submit">Filtrer</button>
    </form>
    <script>
        function updateInputType() {
            var filterType = document.getElementById('filter_type').value;
            var dateFilters = document.getElementById('dateFilters');
            var chercherLabel = document.getElementById('chercher-label');
            var chercherInput = document.getElementById('chercher');
    
            if (filterType === 'date') {
                dateFilters.style.display = 'flex';
                chercherLabel.style.display = 'none';
                chercherInput.style.display = 'none';
            } else {
                dateFilters.style.display = 'none';
                chercherLabel.style.display = 'block';
                chercherInput.style.display = 'block';
            }
        }
        window.addEventListener('load', updateInputType);
    </script>
    <table>
        <tr class="table-info">
            <th>produit transfere</th>
            <th>Date du transfer</th>
            <th>designation</th>
            <th>quantite du produit transfere</th>
            <th>le prix total du transfer</th>
        </tr>
         {% for t in trnasf %}
         <tr>
         <td> {{t.produit_transfer}} </td>
         <td> {{t.Date_transfer}} </td>
         <td>{{t.designation}}</td>
         <td> {{t.Qte}} </td>
         <td>{{t.cout}}</td>
    
         </tr>
         {% endfor%} 
         <td>
            
</body>
</html>