{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des produits de fournisseur</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleModal.css' %}">
    <script src="{% static 'js/fournisseurP.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/list.css' %}"
      type="text/css"
    />
</head>
<body>
    <a href="{% url 'gerer_fournisseur' %}" style="all: unset"><div class="logo"  onmouseover="document.querySelector('.fa-arrow-rotate-left').style.color='rgba(255, 255, 255, 0.39)';
        this.style.color='rgba(255, 255, 255, 0.39)';"onmouseout="document.querySelector('.fa-arrow-rotate-left').style.color='rgb(255, 255, 255)';
        this.style.color='rgb(255, 255, 255)'; " style=" position: absolute;
            top: 0;
            left: 0;
            
            cursor: pointer;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            font-family: 'Bubblegum Sans', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            background-color: transparent;
            border-radius: 30px;
            transition: 0.2s;
            font-weight: 100;
            margin-left: 28px;
            width: 10%;
            margin-top: 10px;"><i class="fa-solid fa-arrow-rotate-left" style="font-size: 1.3rem;color: white; margin-right: 10px;"></i>page precedente</div></a>
    <a href="{% url 'magazinier' %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        background-color: transparent;
        border-radius: 30px;
        font-weight: 100;
        transition: 0.8s;
        width: 20%;
        margin-top: 10px;"><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; margin-right: 10px;"></i>votre store virtuel</div></a>
    <h4>Voici la liste des produits de fournisseur {{fournisseur.nomF}} :</h4>
    <form method="GET" action="{% url 'listeProduit_fournisseur' fournisseur.id %}">
    
        <label for="chercher">nom-Produit :</label>
        <input type="text" id="chercher" name="chercher" placeholder="Ecrire...">
      
        <button type="submit">Filtrer<i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <table >
        <tr class="table-info">
            <th>ID_produit</th>
            <th>Nome de produit</th>
            <th>Designation de produit</th>
            <th>la Quantité de produit</th>
            <th>le prix unitaire de produit</th>
            <th>acheter</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
         {% for p in produits_fournisseur %}
         <tr>
         <td>{{p.id}}</td>
         <td> {{p.nomP}} </td>
         <td> {{p.designation}} </td>
         <td> {{p.qte}} </td>
         <td> {{p.prix_unitaire}} </td>
         <td><a href="{% url 'acheter_matiereP' fournisseur.id p.id %}" class="btn btn-outline-success"> Acheter </a></td>
         <td><a href="{% url 'modifier_fournisseurP' fournisseur.id p.id %}" class="btn btn-outline-success"> Modifier </a></td>
         <td><a href="#" class="btn btn-outline-danger"  onclick="confirmDelete('{{fournisseur.id}}','{{ p.id }}')">Supprimer</a></td>
         </tr>
         {% endfor%} 
        </table>
        <a href="{% url 'ajouter_produitF' fournisseur.id %}" class="confirm-button"style="background-color:white;color:green;">Ajouter un produit</a>
        <div class="confirmation-modal" id="confirmationModal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Etes-vous sur de supprimer cette produit de fournisseur {{fournisseur.nomF}} ?</p>
                <button class="confirm-button">Supprimer</button>
                <button class="cancel-button">Annuler</button>
            </div>
        </div>
        <a href="#" type="button" onclick="printProducts()" class="btn btn-outline-info" style="margin: 20px;">Imprimer la liste</a>

</body>
</html>