<!DOCTYPE html>
<html>
<head>
    <title>Confirmer Achat</title>
</head>
<body>
    <h1>Confirmer Achat</h1>
    <form method="post">
        {% csrf_token %}
        <p style="margin-left: 40px; color: rgb(40, 89, 124) ;">Cout de l'achat: {{ cout }}</p>
        <p>
            <label for="prix_paye">Prix payé:</label>
            <input type="number" id="prix_paye" name="prix_paye" step="0.01" >
        </p>
        <input type="submit" value="Confirmer">
        <button type="submit" name="annuler">Annuler Achat</button>
    </form>
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</body>
</html>