{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des produits de fournisseur</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/list.css' %}"
      type="text/css"
    />
</head>
<body>
    <a href="{% url 'gerer_client' %}" style="all: unset"><div class="logo"  onmouseover="document.querySelector('.fa-arrow-rotate-left').style.color='rgba(255, 255, 255, 0.39)';
    this.style.color='rgba(255, 255, 255, 0.39)';"onmouseout="document.querySelector('.fa-arrow-rotate-left').style.color='rgb(255, 255, 255)';
    this.style.color='rgb(255, 255, 255)'; " style=" position: absolute;
        top: 0;
        left: 0;
        
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        background-color: transparent;
        border-radius: 30px;
        transition: 0.2s;
        font-weight: 100;
        margin-left: 28px;
        width: 10%;
        margin-top: 10px;"><i class="fa-solid fa-arrow-rotate-left" style="font-size: 1.3rem;color: white; margin-right: 10px;"></i>page precedente</div></a>
    <a href="{% url 'magazinier' %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 100; 
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        background-color: transparent;
        border-radius: 30px;
        transition: 0.8s;
        width: 20%;
        margin-top: 10px;"><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; margin-right: 10px;"></i>votre store virtuel</div></a>
    <h4>Voici la liste des credit des clients :</h4>
    <form method="GET" action="{% url 'regle_credit' %}">
    
        <label for="chercher">nome-client :</label>
        <input type="text" id="chercher" name="chercher" placeholder="Ecrire...">
      
        <button type="submit">Filtrer<i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <table >
        <tr class="table-info">
            <th>Nome de client</th>
            <th>credit</th>
            <th>date dernier payment</th>
            <th>Modifier-credit</th>
        </tr>
         {% for c in credit %}
         <tr>
         <td>{{c.nom}}</td>
         <td> {{c.credit}} </td>
         <td>{{c.date_modification}}</td>
         <td><a href="{% url 'modifier_credit' credit_id=c.id %}" class="btn btn-outline-success"> Modifier </a></td>
         {% if c.credit == 0 %}
         <td><a href="{% url 'supprimer_credit' credit_id=c.id %}" class="btn btn-outline-danger" onclick="confirmDelete('{{ c.id }}')">Supprimer</a></td>
     {% endif %}
         </tr>
         {% endfor%} 
         <p style="margin-left: 40px; color: rgb(40, 89, 124) ;">{{message}}</p>
         <tr>
</body>
</html>