{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/styleresp3.css' %}"
      type="text/css"
    />
</head>
<body>
    <div class="header">

        <nav><div class="logo"><i class="fa-solid fa-store" style="color: white; margin-right: 10px;"></i>votre store virtuel</div>
        </nav>
        <div class="inner-header flex">
        <h1>choisir type du vent</h1>

        </div>
        <div class="content flex">
          <a href="{% url 'vendre_produit_centre' selected_center=selected_center nom_client=nom_client category_vent='reproduit' %}">vendre reproduit</a>
          <a href="{% url 'vendre_produit_centre' selected_center=selected_center nom_client=nom_client category_vent='produit_primaire'%}">vendre produit primaire</a>
        </div>
    </div>
</body>
</html>