{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
 <link
   rel="stylesheet"
   href="{% static 'css/statistiquecss.css' %}"
   type="text/css"
 />
</head>
<body>
    <a href="{% url 'choisir_statistiques' %}" style="all: unset"><div class="logo"  onmouseover="document.querySelector('.fa-arrow-rotate-left').style.color='rgba(255, 255, 255, 0.39)';
        this.style.color='rgba(255, 255, 255, 0.39)';"onmouseout="document.querySelector('.fa-arrow-rotate-left').style.color='rgb(255, 255, 255)';
        this.style.color='rgb(255, 255, 255)'; " style=" position: absolute;
            top: 0;
            left: 0;
            
            cursor: pointer;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            font-family: 'Bubblegum Sans', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            background-color: transparent;
            border-radius: 30px;
            transition: 0.2s;
            font-weight: 100;
            margin-left: 28px;
            width: 10%;
            margin-top: 10px;"><i class="fa-solid fa-arrow-rotate-left" style="font-size: 1.3rem;color: white; margin-right: 10px;"></i>page precedente</div></a>
    <a href="{% url 'magazinier' %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        background-color: transparent;
        font-weight: 100;
        border-radius: 30px;
        transition: 0.8s;
        width: 20%;
        margin-top: 10px;"><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; 
        margin-right: 10px;"></i>votre store virtuel</div></a>
 <div class="inner">
        <h4>Achats Statistiques</h4>
        <form method="GET" action="{% url 'magazin_statistiques' %}">
    
            <label for="chercher">Entrez l'année :</label>
            <input type="text" id="chercher" name="chercher" placeholder="Ecrire...">
            <button type="submit">Filtrer<i class="fa-solid fa-magnifying-glass"></i></button>
            
        </form>
        <h4 style="margin: auto;">le montant des achats total cette année est : <span style="color:rgb(68, 242, 175) ;">{{montant_total}}</span> DA</h4>
        <h4>Top fournisseur :</h4>
    <br>
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <table class="table table-striped table-bordered">
                    <tr>
                        <td class="table-info">Le nom et prenom de fournisseur</td>
                        <td>{{ Top_fournisseur }}</td>
                    </tr>
                    <tr>
                        <td class="table-info">Le montant total d'achat de ce fournisseur</td>
                        <td>{{ Top_fournisseur_montant }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
        <h2>Graph des fournisseurs par montant d'achats total cette année :</h2>
        <div class="inside" style="gap: 0;">
        <img src="{{ fournisseur_achats_graph }}" alt="Fournisseurs Achats Graph">
    </div>
    
        <h2>Graph des achats des produits par leurs quantités cette année :</h2>
        <div class="inside" style="gap: 0;"> <img src="{{ produit_quantités_graph }}" alt="Produit Quantités Graph">
        
</body>
</html>