<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voir l'achat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleModal.css' %}">
    <script src="{% static 'js/stockM.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
      rel="stylesheet"
      href="{% static 'css/list.css' %}"
      type="text/css"
    />
</head>
<body>
    <a href="{% url 'magazinier' %}" style="all: unset"><div class="logo"  onmouseover="this.style.backgroundColor='rgba(255, 255, 255, 0.39)';"onmouseout="this.style.backgroundColor='transparent'; " style=" position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        font-family: 'Bubblegum Sans', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 1.5rem;
        background-color: transparent;
        border-radius: 30px;
        transition: 0.8s;
        width: 20%;
        margin-top: 10px;
        "><i class="fa-solid fa-store" style="font-size: 1.5rem;color: white; 
        margin-right: 10px;"></i>votre store virtuel</div></a>
    <a href="{% url 'listeProduit_fournisseur' fournisseur.id %}" style="all: unset"><div class="logo"  onmouseover="document.querySelector('.fa-arrow-rotate-left').style.color='rgba(255, 255, 255, 0.39)';
        this.style.color='rgba(255, 255, 255, 0.39)';"onmouseout="document.querySelector('.fa-arrow-rotate-left').style.color='rgb(255, 255, 255)';
        this.style.color='rgb(255, 255, 255)'; " style=" position: absolute;
            top: 0;
            left: 0;
            
            cursor: pointer;
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px;
            font-family: 'Bubblegum Sans', sans-serif;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
            background-color: transparent;
            border-radius: 30px;
            transition: 0.2s;
            font-weight: 100;
            margin-left: 28px;
            width: 10%;
            margin-top: 10px;"><i class="fa-solid fa-arrow-rotate-left" style="font-size: 1.3rem;color: white; margin-right: 10px;"></i>page precedente</div></a>
    <h1 style="margin-top: 70px;">L'achat a été fait successivement !</h1>
    <table>
        <tr class="table-info">
            <th>ID_Achat</th>
            <th>Date d'achat</th>
            <th>Nom de produit</th>
            <th>la Quantité de produit</th>
            <th>Nom de fournisseur</th>
            <th>la montant d'achat</th>
            <th>la montant payé d'achat</th>
            <th>le solde de fournisseur</th>
        </tr>
         <tr>
         <td>{{achat.id}}</td>
         <td>{{achat.Date_achat}}</td>
         <td> {{produit.nomP}} </td>
         <td> {{achat.qte}} </td>
         <td> {{fournisseur.nomF}} </td>
         <td> {{achat.Montant_achat}} </td>
         <td> {{achat.Montant_payé}} </td>
         <td> {{achat.sold_achat}} </td>
         </tr> 
        </table><br>
        <h3>le solde de fournisseur {{fournisseur.nomF}} a été incrementé par <span style="color:rgb(68, 242, 175) ;">{{achat.sold_achat}}</span>DA</h3> <a href="{% url 'gerer_fournisseur' %}" class="btn btn-outline-info">voir liste fournisseur</a><br>
        <h3>la quantité de produit {{produit.nomP}} de fournisseur {{fournisseur.nomF}} a été décrementé par <span style="color:rgb(68, 242, 175) ;">{{achat.qte}}</span> </h3> <a href="{% url 'listeProduit_fournisseur' fournisseur.id %}" class="btn btn-outline-info">voir liste produit de fournisseur {{fournisseur.nomF}}</a><br><br>
        <h3>Voulez vous consulter la liste des achats ?</h3><a href="{% url 'listeAchatsMP' %}" class="btn btn-outline-info">Clickez ici</a><br>

</body>
</html>

